
# Get values of some system/configuration variables
# used during compilation

# system info
Darwin 23.4.0


# source info
sources path : /Users/petras/brg/2_code/lmgc90_installation
release      ; 2025.rc1
git branch   : main
git revision : c4785da714ee54f01d143a6475e5d31bd069d5c0

# compilers info
Fortran compiler : GNU - 14.2.0
C       compiler : GNU - 14.2.0
C++     compiler : GNU - 14.2.0
option level : opt
openmp : OFF

# other compil info on
# cmake
cmake version : 4.0.1
# lapack
/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/System/Library/Frameworks/Accelerate.framework;/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/System/Library/Frameworks/Accelerate.framework
# python
Python bindings for:
 - chipy : ON
 - pre   : ON
/opt/homebrew/bin/python3.11 3.11.13
/opt/homebrew/opt/python@3.11/Frameworks/Python.framework/Versions/3.11/lib/libpython3.11.dylib

numpy : 2.3.2

# swig
swig version  : 3.0.12
     directory: /opt/homebrew/lib/python3.11/site-packages/swig/data/share/swig/3.0.12
     exe      : /opt/homebrew/bin/swig

# deps info

# matlib
matlib version   : default
       to build  : True
       library   : /Users/petras/brg/2_code/lmgc90_installation/build_native/lib/libmatlib.dylib
       input path: 

# linear algebra
sparse algebra library: mumps
mumps to build : TRUE

# hdf5
HDF5    : ON
version : 1.14.6
library : hdf5_fortran-shared

# siconos numerics
SiconosNumerics: OFF
to build       : FALSE

# external fem
ext fem : none
    path: 
    lib : 

# external MBS
ext mbs : none
    file: 

# external detection
ext detection: OFF
    file     : 


# install path info
path to venv: 
cmake install prefix: /opt/homebrew/lib


# configure options

standalone   : OFF
Fortran lib  : OFF
C lib        : OFF
tests        : ON
rTree binding: OFF
cython       : cython-NOTFOUND


# doc
with doxygen   : OFF
with docstrings: ON

